<%= @post.title %> <br>
<%= @post.content %><br>

<b>Categories:</b><% @post.categories.each do |c| %>
    <%= c.name %> 
    <% end %>
<p>
<b>Comments: </b><br>
    <% @post.comments.each do |c| %>

       <br><%= c.user.username %> says: - <%= c.content %>
       <br>------------------------<br>
       <% end %>

    <%= form_for @post.comments.build do |f| %>
        <br><%= f.hidden_field :post_id %>
        <p>
            <%= f.collection_select :user_id, User.all, :id, :username %>
        </p>

        <%= f.fields_for :user, User.new do |user_fields| %>
            <%= user_fields.label :username %>
            <%= user_fields.text_field :username %>
            <% end %>

            <p>
                <%= f.label :content, "New Comment" %><br>
                <%= f.text_area :content %>
            </p>
            <br><%= f.submit %>
        <% end %>
        </p>